
<span>   </span>
<footer> 
  <div class="footer-content">
  <div class="card-foot" id="icon-foot">
      <i class="icon-footer"><img src="/imagenes/circle-x_10490301.png" width= "25" height= "25"></i>
      <i class="icon-footer"><img src="/imagenes/youtube_6422215.png" width= "25" height= "25"></i>
      <i class="icon-footer"><img src="/imagenes/search_3917754.png" width= "25" height= "25"></i>
  </div>
  <div class="card-foot">
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="http://localhost:3000/index">DATOS</a></li>
        <li><a href="http://localhost:3000/BOMBAS">CONTROL DE BOMBAS</a></li>     
     </ul>
    </nav>
  </div>
 <div class="card-foot">
      <P><small>DISEÑADO POR :<br>
        DARWIN SOTOMAYOR<br>
      </small></P>
     
  </div>

  
   
</div>
 </footer>
 <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script> -->
   
</body>
</html>
