<body>


<nav id="main-menu">
    <ul class="nav-bar">
         <li class="nav-button-home"><a href="#">Home</a></li>
         <li class="nav-button-datos"><a href="http://localhost:3000/index">DATOS</a></li>
         <li class="nav-button-bombas"><a href="http://localhost:3000/BOMBAS">CONTROL DE BOMBAS</a></li>
         <li class="nav-button-sesion"><button class="btn-sesion" onclick="cerrarsesion('login')">Cerrar Sesion</button></li>     
    </ul>
    <img class="menu-mobile" src="imagenes/menu_icon.png">
</nav>