:root{
  --primary-color:#215291;
  --secondary-color: #48ca95;
  --bg-color: #f7f7f7;
  --light-color:#fff;
  --card-color:#00000000

}


.Encabezado {
  text-align: center;
  color: rgb(0, 89, 255);
  height: 50px;
  max-width: 1200px;
  margin: 0 auto; 
  display: grid; 
  min-height:  90vh;
}
  /* menu de navegacion */
  #main-menu{
    margin-top: 2px;
    background-color: var(--primary-color);
    padding-left: 2px;
   
  }

#main-menu .nav-bar { 
  list-style:none; 
  margin: 1px 0px 0px; 
}
#main-menu .nav-bar li { 
  display:inline; 
  padding:0 10px; }

#main-menu .nav-bar li a {
  text-decoration: none;
  padding-left: 25px;
  text-transform: uppercase;
  color: #333;
	text-shadow: 1px 1px 1px #ccc;
}

.nav-button-sesion{
  margin-left: 50%;
}




  /*background-color: #d0d0d0;*/

  .title-section{
    font-size: 36px;
    margin-bottom: 25px;
    color: #f7f7f7;
}
  
    body {
      font-family: 'Arial', sans-serif;
      margin: 2px 2px 2px 2px;
      
      
    }
    .card-img{
      background-color: var(--card-color);
      opacity: 0.7;
    }
    .topnav { 
      overflow: hidden; 
      background-color: #b0b4c0;
    }

    
    .content { 
      margin-top: 1px;
      padding: 2%;
      background: url(imagenes/circuit_board.jpg)no-repeat center center/ cover;
      /*background-color:#F0B823;*/
    }

    h2{
      color: #f7f7f7;
    }

    
    /* .card-grid { 
      text-align: center;
      max-width: 1200px; 
      margin: 0 auto; 
      display: grid; 
      grid-gap: 2rem; 
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
     
    } */
    

    .cards{
      display: flex;
      justify-content: center;
      align-content: center;
      padding-top: 25px;
      padding-bottom: 60px;
      /* flex-wrap: wrap;
   */
  }

  .card{
  background-color: var(--card-color);
  width: 150px;
  height: 300px;
  border: 1px solid var(--secondary-color);
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: 5px;
 
}
    button {
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      margin: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }
  #apagar {
    background-color: red;
    margin: 5px;
    display: inline-block;
    }
    #apagar:hover {
      background-color:blue;
      }
    button:hover {
      background-color: blue;
    }
    /* footer{
      display: flex;
      flex-direction: row;
      margin-top: 5px;
      height: 150px;
      background-color: #303333;
      color: #fff
    } */

    footer{
      background-image: url('./imagenes/footer.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      justify-content:center;
      align-items: center;
      flex-direction: column; 
      color: #fff

  }
  .footer-content{
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-bottom: 25px;
}
    .card-foot { 
     
      text-align: left;
      max-width: 520px; 
      margin-top: 10px;
      padding: 20px 200px;  
      grid-gap: 2rem; 
    
    }
