
<%- include("template/cabecera",{tituloweb: "ENCENDIDO DE BOMBAS"}) %>
<%- include("template/navbar") %>

 
  <div class="content">
    <CENTER> <h1 class="title-section">Control de Bombas</h1> </CENTER>
    
    <div class="cards">
      <div class="card">
        <h2 class="text-card">MOTOR 01</h2>
        <img src="imagenes/motor.jpg"width="150" height="150" class="card-img"> 
        <button class="btn" onclick="encenderMotor('motor1')" id="encender"> <i class="bi-power"> </i> </button>
        <button class="btn" onclick="apagarMotor('motor1')" id="apagar"> <i class="bi-stop-circle"> </i> </button>
      </div>

      <div class="card">
        <h2 class="text-card">MOTOR 02</h2>
        <img src="imagenes/motor.jpg"width="150" height="150" class="card-img"> 
        <button class="btn" onclick="encenderMotor('motor2')" id="encender"> <i class="bi-power"> </i> </button>
        <button class="btn" onclick="apagarMotor('motor2')" id="apagar"> <i class="bi-stop-circle"> </i> </button>
      </div>
      
    
      <div class="card">
        <h2 class="text-card">MOTOR 03</h2>
        <img src="imagenes/motor.jpg"width="150" height="150" class="card-img">
        <button class="btn" onclick="encenderMotor('motor3')" id="encender"> <i class="bi-power"></i></button>
        <button class="btn" id="apagar" onclick="apagarMotor('motor3')" id="apagar"> <i class="bi-stop-circle"></i></button>
      </div>

     
      
    </div>  
  
  </div>
  <%- include("template/footer") %>
 


