<%- include("template/cabecera",{tituloweb: "ENCENDIDO DE MOTORES"}) %>
<%- include("template/navbar") %>  
        <div class="content">
          <CEnter><h2>Datos enviados por la esp8266</h2></CEnter>
          <div class="cards" id="cards-datos">
            <div class="card" id="card-datos">
              <UL  id="datos">
                <li>RED WIFFI: nombre de red </li>
                <li>IP: 0.0.0.0</li>
                <li>TABLERO N:1</li>
              </UL>
            </div>
          </div>
       </div>  
       
      <%- include("template/footer") %>  
    </html>