<%- include("template/cabecera",{tituloweb: "ENCENDIDO DE MOTORES"}) %>
<%- include("template/navbar") %>
      <div class="Encabezado"></div>
        <CEnter><h2>Datos enviados por la esp8266</h2></CEnter>
      </div>
        <div class="content">
        <UL>
          <li>RED WIFFI</li>
          <LI>IP</LI>
          <LI>NUMERO DE TABLERO</LI>
        </UL>
      </div>  
       
      <%- include("template/footer") %>  
    </html>